/*палитра цветов*/
:root {
  --header-text: #ec1cd7;
  --table-border: #bb5353;
  --list-text: #000000;
  --skills: #266d2c;
}

/*сбросить точки в списках*/
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  font-family: roboto, raleway sans-serif;
  letter-spacing: 0.03em;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*ХЕДЕР*/

.page-header {
  border-bottom: 1px solid #ececec;
  text-align: center;
}

.header-nav {
  color: var(--header-text);
  text-align: center;
}

/*таблица*/

.table-list {
  display: flex;
  border: 1px solid var(--table-border);
}

.table-list--item {
  text-align: center;
  padding: 20px;
}

.table-list--item:first-child {
  max-width: 585px;
}

.table-list--item:last-child {
  text-align: center;
  border-left: 1px solid var(--table-border);
  width: 585px;
}

.title {
  display: block;
  text-transform: uppercase;
}

.text {
  display: block;
  line-height: 1;

  color: var(--list-text);
}

.skills {
  color: var(--skills);
}
